@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;

}

.home-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dropdown-container {
    margin: 20px;
}

.dropdown-container .dropdown .btn {
    background-color: #FFFFFF;
    color: #414141;
    border: none;
    width: 180px;
    height: 50px;

}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

}

.card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-body-2 {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    /* flex: 1;  */

}

.card-body-2 img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-position: top;
    overflow: hidden;
    padding-bottom: 10px;
    object-fit: cover;
}

.card-body-2 .card-title {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.room-availability span {
    text-align: center;
}

.card-title span {
    font-weight: 500;
}

.classroom-dropdown-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;

}

.text-container h1 {
    font-size: 24px;
}

.padding-top {
    height: 60px;
}

.dropdown-menu.show {
    border: none;
    width: 180px;

}

.spacer {
    width: 550px;
}