.login-layout {
    position: relative;
    overflow: hidden;
}

.phinma-logo img {
    width: 100%;
}

.phinma-location img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* .phinma-location-container {
    width: 100%;
    height: 100vh;
    background-image: url('/public/images/phinmalocation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.phinma-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.phinma-logo img {
    width: 200px;
    height: 200px;
}

.login-page input {
    width: 350px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #D9D9D9;
    border: 0;
    padding: 0px 22px;
    font-size: 15px;
}

.login-page input::placeholder {
    color: #000000;
    font-family: "Raleway";
    font-weight: 300;
}

.login-page button {
    background-color: #2C5225;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    color: #FFFFFF;
    border: 0;
    font-size: 20px;
}

.login-span {
    font-weight: 400;
    margin-bottom: 10px;
}

.register-span {
    font-weight: 600;
    color: #2C5225;
    text-decoration: none;
}

.register-span:hover {
    color: #A98D00;
    font-weight: 700;
}

.login-page label {
    display: block;
    text-align: left;
    margin-bottom: 0;
    font-weight: 500;
}

.phinma-location {
    animation: fade-left 2s;
}

.phinma-logo {
    animation: fade-right 2s;
}

.phinma-logo button:hover {
    background-color: #A98D00;
    transform: scale(1.05, 1.05);

}
/* below medium desktop screen */
@media screen and (max-width:1024px){

}
/* wide mobile screen */
@media screen and (max-width:768px){
    .phinma-location{
        display: none!important;
    }
    .phinma-logo{
        width:100%!important;
        min-height:100vh;
    }
}
/* large mobile screen */
@media screen and (max-width:425px) {
    
}
/* medium mobile screen */
@media screen and (max-width:425px) {
    html{
        min-width:425px;
    }
    
}
/* small mobile screen */
@media screen and (max-width:320px) {
    
}
@keyframes fade-customized {
    0% {
        opacity: 0;
        transform: translateY(-150px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(150px) scale(1);
    }
}

@keyframes fade-customized3 {
    0% {
        opacity: 0;
        transform: translateY(-150px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fade-customized2 {
    0% {
        opacity: 0;
        transform: translateX(-650px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(-550px, -300px);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-150px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(150px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(150px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(-150px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}